.footerContainer{
    width: 100%;
    display: flex;
    margin-top: 50px;
    background-color: rgba(119, 136, 153, 0.205);
    border-top: 1px solid gray;
    justify-content: space-around;
    .footerItem{
        
    }
}