.containerModal{
    width: 400px;
    height: 350px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    background-color:#1677ff;
    top: 300px;
    opacity: none;
    margin: auto;
   margin-top: 100px;
    
}